---
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
import { Image } from "astro:assets";

import aboutUsBg1 from "../../assets/about-us-bg-1.png";
import rangoonReitStructure from "../../assets/rangoon-structure-diagram.png";
import aboutUsBg2 from "../../assets/about-us-bg-2.png";
---

<Layout title='About Us| Rangoon REIT'>
  <section class="relative flex items-center justify-center py-10 px-5 h-[350px] ">
        <Image
          class="absolute -z-10 w-full h-[350px] object-cover"
          src={aboutUsBg1}
          alt="about-us-hero-background"
          loading={"lazy"}
          decoding={"async"}
          width={1920}
          height={350}
        />
        <div class="flex  items-center w-4/5 mx-auto gap-y-6">
          <div class="w-full ">
            <h1 class="text-5xl text-brand-primary font-semibold">
              About Us
            </h1>
            <h1 class="text-5xl text-brand-primary font-semibold">
              Who we are
            </h1>
          </div>
          <div class="text-brand-primary w-4/5 ">
            <p>
              Rangoon Real Estate Invest Trust (REIT) is a real estate
              investment trust established to invest directly and indirectly in
              a portfolio of income-generating real estate assets primarily used
              for commercial purposes. It aims to provide shareholders with
              stable currency-protected income distributions and long-term
              growth in the net asset value of properties.
            </p>
          </div>
        </div>
      </section>

      <section class="bg-gray-50 flex flex-col justify-center py-10 px-5 gap-y-4 h-[850px]">
        <div class="w-4/5 mx-auto flex flex-col items-start gap-4">
          <h1 class="text-4xl text-brand-primary font-semibold">
            REIT Structure
          </h1>
        </div>
        <div class="w-4/5 mx-auto border rounded-sm aspect-[16/9] bg-white" data-lightbox="true">
          <Image
            class="w-4/5 mx-auto h-full object-contain "
            src={rangoonReitStructure}
            alt="Rangoon REIT Structure Diagram"
			loading="lazy"
			decoding="async"
            width={1200}
            height={675}
          />
        </div>
      </section>

      {/* Third Section */}
      <section class="relative flex items-center justify-center py-10 px-5 h-[280px]">
        <Image
          class="absolute -z-10 w-full h-[280px] object-cover"
          src={aboutUsBg2}
          alt="investment-section-background"
          loading={"lazy"}
          decoding={"async"}
          width={1920}
          height={280}
        />
        <div class="w-4/5 mx-auto flex flex-col items-start gap-4">
          <h1 class="text-5xl text-white font-semibold">Ready to Invest</h1>
          <a
            href="https://onboarding.ic.africa"
            target="_blank"
            rel="noreferrer"
            class="font-semibold bg-brand-secondary text-brand-primary rounded-full px-4 py-1 hover:ring hover:ring-white transition-all ease-in-out flex items-center justify-center active:bg-brand-secondary/80"
          >
            Invest with Us
          </a>
        </div>
      </section>
</Layout>
